<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
		<title>{{ title }}</title>
	</head>
	<body>
		<div class="container-fluid">
			<a href="{{ url_for('index') }}">
				<button class="btn btn-primary">Home</button>
			</a>
			<a href="{{ url_for('submit') }}">
				<button class="btn btn-success">Submit</button>
			</a>
		</div>
		{% with messages = get_flashed_messages() %}
        {% if messages %}
        <ul>
            {% for message in messages %}
            <li>{{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %}
        {% endwith %}
		<div class="container-fluid">
			{% block content %}
			{% endblock %}
		</div>
	</body>
</html>